.tab_container {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 3.3em;
}

.tab {
  color: var(--primary-dark);
  /* position: relative; */
  font-size: 0.8rem;
}

.tab_active {
  font-size: 0.95rem;
  position: relative;
}

/* .tab_active,
.tab:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.tab_content {
  margin: 2.5em 3.5em;
  display: flex;
  flex-direction: column;
}
