.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: #fff;
  margin: 10vh auto;
  padding: 2em;
  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  max-width: 800px;
}
