.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_content {
  background-color: #fff;
  margin: 5vh auto;
  padding: 1em 2em;
  border: 1px solid var(--primary-dark);
  border-radius: 4px;
  max-width: 800px;
  max-height: 800px;
  overflow-y: auto;
}

.confirm_text {
  margin: 1em 0;
  font-size: 1.2rem;
}

.modal_content h5 {
  margin-top: 1.5em;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #f05933;
  text-underline-offset: 4px;
}

.overview {
  margin: 1em 0;
  background-color: var(--light-grey);
  border-radius: 2px;
  padding: 0.5em;
}

.patient_fields,
.diagnos_fields,
.treatment_fields,
.ecog_fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5em;
  margin: 0.5em 0;
}

.buttons_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.5em;
}

.cancel_button {
  border-radius: 4px;
  border: 2px solid var(--dark-grey);
  padding: 8px 16px;
  font-size: 16px;
  background-color: #efefef;
}

.cancel_button:hover {
  background-color: var(--middle-grey);
}
