*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  /* Base colors */
  --primary-dark: #171717;
  --secondary-grey: #5d5d5d;
  --background-grey-light: #ececec;
  --background-color-lightest: #fff;

  /* Accent colors */
  /* --accent-color: #fef100;
  --accent-outline: #fccb4f; */

  /* Complement colors */
  --tertiary-purple: #cfb6ee;
  --tertiary-outline: #9c7fbf;
  --pastel-mint: #c3f0d4;
  --pastel-mint-outline: #739680;

  /* Fonts */
  --font-heading: "Segoe UI", Tahoma, Geneva, sans-serif;
  --font-base: Calibri, "Times new roman", sans-serif;
}

/* LÄGG TILL ACCENT-OUTLINE FÄRG! */
*:focus-visible {
  outline: 3px solid var(--accent-outline);
  outline-offset: 2px;
  border-radius: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  line-height: 1.5;
  background-color: var(--background-grey-light);
  color: var(--primary-dark);
}

.page-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-color-lightest);
}

main {
  margin: 5em 0;
  border: 1px solid var(--primary-dark);
  border-radius: 2px;
}

button {
  cursor: pointer;
  padding: 2px 5px;
}

label {
  font-weight: 700;
}

input,
select {
  margin: 0 0.25em;
  padding: 2px 5px;
}
